
body {
  margin:0;
}

button{
  cursor: pointer;
}

i{
  font-style: italic;
}

#background{
  background: linear-gradient(#b4e5e8 , #4ca7ad);
  position: fixed;
  top:0px;
  left: 0px;
  height:100%;
  width:100%;
  z-index: -10;
}

/*     HEADER CSS    */

#HD{
  margin: 0;
  padding: 0;
  position: fixed;
  width:100%;
  height:60px;
  z-index:10;
}

.HD_main_tab_btn, .HD_option_btn{
  height: 100%;
  width: calc((55% - 70px) / 3);
  float: right;
  background-color:rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  font-size: 2.3vw;
  text-align: center;
  cursor:pointer;
  color:#ffffff;
   background-size: 100% 100%;
  border: none;
  background-image:url(files/webpage/hexagon_button_HD.png);
}


/*    MENU CSS    */

.RM{
  width: 175px;
  height: calc(100% - 60px);
  background: linear-gradient(to right, #3a3a3a , #303030);
  color: #ffffff;
  position: fixed;
  top: 60px;
  right: 0px;
  padding: 10px;
}

.RM input[type=text], .RM select{
  width: 100%;
}

.RM button{
  width:175px;
  height: 40px;
  text-align: center;
  cursor:pointer;
  color:#ffffff;
  background-size: 175px 40px;
  border: none;
  background-image:url(files/webpage/hexagon_button_RM.png);
  background-color:rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
}

#QL_RM_reset_search, #QL_RM_reset_selection{
  width:175px;
  position: absolute;
  right:10px;
  height:30px;
  text-align: center;
  cursor:pointer;
  color:#ffffff;
  background-size: 175px 30px;
  border: none;
  background-image:url(files/webpage/hexagon_button_RM_small.png);
  background-color:rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
}

#QL_display_mode{
  position: fixed;
  top:70px;
  left:0px;
  width: calc(100% - 195px);
  height:20px;
  background-color: #0c938f;
  color: #ffffff;
  z-index: 40;
}

button:focus {
  outline: none;
}

#Ooyodo{
  display: block;
  max-width:195px;
  max-height:calc(100% - 60px - 420px);
  width: auto;
  height: auto;
  position:absolute;
  right:0px;
  bottom: 0px;
  background-color:rgba(0, 0, 0, 0);
  z-index: 10;
}

#Ooyodo:hover{
  cursor: pointer;
}

#Ooyodo_text{
  color:#ffffff;
  z-index: 40;
  position: fixed;
  bottom: 10px;
  left: calc(100% - 185px);
  pointer-events: none;
}


/*    FOOTER CSS    */

.FT{
  width: calc(100% - 195px);
  height: 180px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border: 1px solid black;
  background: linear-gradient(#3a3a3a , #303030);
}

#FC_FT_quest_list{
  width: 100px;
  float: left;
  height: 100%;
}

#FC_FT_quest_requirement{
  overflow-y: auto;
}

.QL_questBox_complete_btn, .QL_questBox_goToChart_btn{
  width:93px;
  height:40px;
  float:right;
  text-align: center;
  cursor:pointer;
  color:#ffffff;
  background-size: 93px 40px;
  border: none;
  background-image:url(files/webpage/questBox_button.png);
  background-color:rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
}

#FC_FT_quest_info_complete_btn{
  width:100%;
  position: absolute;
  bottom:0px;
  left:0px;
}

#FC_FT_quest_info_state_icon{
  position: absolute;
  top:0px;
  left:0px;
}

#FC_FT_select_quest_list{
  width:100%;
  background-color: #3a3a3a;
}

.range_indicator{
  width:30px;
  display: inline-block;
}

.cellDiv{
  position:absolute;
  border: 1px solid black;
  overflow-y: auto;
}



.centeredContent{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  /*  overflow-y: auto;*/
}


#QL_quest_boxes{
  width: calc(100% - 195px);
  position: absolute;
  top: 80px;
  height: calc(100% - 80px);

  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  overflow-y: auto;
}

.QL_questBox{
  float:left;
  width: 350px;
  height:425px;
  margin:10px;
  border-style:solid;
  position: relative;
}


#QL_RM_input_pending_quests_error_msg{
  color: red;
}

.reward_icon{
  vertical-align: middle;
}

.ship_icon{
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.quest_state_icon{
  vertical-align: middle;
  height: 36px;
  width: 36px;
  margin-bottom: 5px;
}

.ship_hover{
  cursor:pointer;
  color:#0645AD;
  display: inline-block;
}

.link{
  cursor:pointer;
  color:#0645AD;
}

.link:hover{
  text-decoration: underline;
}

.QL_selected_checkbox{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}


/*    TUTORIAL      */

#tuto{
  z-index:50;
  position: fixed;
  background-color: #3a3a3a;
  min-height: 195px;
  vertical-align: top;
  color: #ffffff;
  border: 5px solid #0c938f;
}

.square{
  pointer-events:none;
  border: dotted 5px #f00;
  z-index:100;
  position:fixed;
  animation: borderBlink 1s step-end infinite;
}

@keyframes borderBlink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #f00
  }
}

#Ooyodo_tuto{
  height:266px;
  width:195px;
  position:absolute;
  left:0px;
  bottom:0px;
  background-color:rgba(0, 0, 0, 0);
  z-index: 10;
  pointer-events: none;
}

#closeBtn_tuto{
  position:absolute;
  top:0px;
  right:5px;
  color:#b8b8b8;
  font: 15px "Arial Black", sans-serif;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

#closeBtn_tuto:hover{
  color:#ffffff;
}


/* ========== SPEECH BUBBLES ============= */


.bubble {
  position:absolute;
  bottom: 280px;
  right:50px;
  width:250px;
  padding:15px;
  color:#000;
  background:#f4e1a6;
  border-radius:10px;
  z-index:50;
}

.bubble:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f4e1a6 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.MSG_click_Ooyodo_btn{
  width: 100%;
}

/* ===========================    CLOSING BUTTON    =========================*/

.closeBtn{
  position:absolute;
  top:0px;
  right:5px;
  color:#3a3a3a;
  font: 15px "Arial Black", sans-serif;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.closeBtn:hover{
  color:#ffffff;
}


/* ===========================    TIPS BUTTON    =========================*/

.quest_tips{
  position:absolute;
  bottom:0px;
  right:0px;
  color:#3a3a3a;
  font: 15px "Arial Black", sans-serif;
  cursor: pointer;

}




/*   ==========================  RIBBON CSS  ==============================      */

.wrapper {
  position: relative;
}

.ribbon-wrapper {
  pointer-events:none;
  width: 85px;
  height: 85px;
  overflow: hidden;
  position: absolute;
  top: -8px;
  right: -8px;
  transform-origin: right top;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #ffffff;
  text-align: center;
  text-shadow: rgba(51,51,51,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   5px solid #6e8900;
  border-left:  5px solid transparent;
  border-right: 5px solid transparent;
  position:absolute;
  bottom: -5px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after{
  right:0;
}
